<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
		/>
		{% block head %}{% endblock %}

		<title>{% block title %}Directus blog post with Flask{% endblock %}</title>
	</head>
	<body>
		<header class="container">
			<nav>
				<ul>
					<li>
						<a href="/"><strong>Home</strong></a>
					</li>
				</ul>
				<ul>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/conduct">Code of Conduct</a></li>
					<li><a href="/privacy">Privacy Policy</a></li>
				</ul>
			</nav>
		</header>

		<main class="container">{% block content %}{% endblock %}</main>
	</body>
</html>